<?xml version="1.0"?>
<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Map server -->
  <arg name="map_file" default="/home/alpsark/ros-ws/src/nav_stack_tuning/launch/map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="/home/alpsark/ros-ws/src/nav_stack_tuning/launch/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="/home/alpsark/ros-ws/src/nav_stack_tuning/launch/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="/home/alpsark/ros-ws/src/nav_stack_tuning/launch/local_costmap_params.yaml" command="load" />
    <rosparam file="/home/alpsark/ros-ws/src/nav_stack_tuning/launch/move_base_params.yaml" command="load" />  
    <rosparam file="/home/alpsark/ros-ws/src/nav_stack_tuning/launch/base_local_planner_params.yaml" command="load" /> 

    <remap from="odom" to="odom"/>
    <remap from="scan" to="/scan"/>
    <remap from="cmd_vel" to="/cmd_vel"/>  
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="base_link"/>
    <param name="local_costmap/global_frame" value="odom"/>
    <param name="local_costmap/robot_base_frame" value="base_link"/>
    <param name="TrajectoryPlannerROS/global_frame_id" value="odom"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
  </node>
</launch>



